% rebase('base.html', title='Login')

<div class="panel panel-default">
  	<div class="panel-heading">
		<h3 class="panel-title">Please sign in</h3>
 	</div>
  	
  	<div class="panel-body">
    	<form accept-charset="UTF-8" role="form" action="/" method="POST">
	        <fieldset>
	    	  	<div class="form-group">
	    		    <input class="form-control" placeholder="E-mail" name="email" type="email" required>
	    		% if not email_ok:
	    			<p style="color:red"> Email address is not registered<p>

	    		% end
	    		</div>
	    		<div class="form-group">
	    			<input class="form-control" placeholder="Password" name="password" type="password" value="" required>
	    		% if not password_ok:
	    			<p style="color:red">Wrong password!<p>

	    		% end	
	    		</div>
	    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
	    	</fieldset>
	    </form>
    </div>
    
    <div class="panel-footer ">
			Don't have an account! <a href="/register" onClick=""> Sign Up Here </a>
	</div>
</div>
